.bg{
    background: rgb(245, 170, 30);
    padding: 5px;
    color: white;
}
label{
    margin-right: 20px;
}
.row{
    padding: 15px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(27, 25, 25, 0);
    opacity: 1;
    display: block;
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}