<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <!-- <div class="justify-content-center">
          {{title}}{{note}}
      </div>
      <div class="card" style="width:250px">
        <img class="card-img-top img-thumbnail"
          src="https://ih0.redbubble.net/image.505815507.9008/flat,750x,075,f-pad,750x1000,f8f8f8.u4.jpg"
          alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          
        </div>
      </div> -->
      <!-- <ul>
        <li>{{title | uppercase}}</li>
        <li>{{note}}</li>
        <li> Giá trị cần lấy ra trong mảng là: {{array}}</li>
        <ul>
          <li *ngFor="let hero of array">
            {{ hero }}
          </li>
        </ul>
        <li *ngFor="let giaTri of arrayHocSinh">Gia tri trong mang la: {{1+2}}{{giaTri.name}} </li>
        <h3>Current customer: {{ currentCustomer }}</h3>
        <app-student></app-student>
        <div><img [src]="img">
        </div>
        <div class="special">
            <button [style.background-color] = "special ? 'red': 'blue'">Test Button</button>
        </div>
        <ul>
            <li *ngFor="let customer of customers">{{customer.name}}</li>
          </ul>
          <label>Type something:
              <input >
            </label>
      </ul>
      <button [disabled] = "!isQuyen">Delete</button>
      <button (click) =  "onsave($event)">Save</button>

      <button (click) = "isQuyen = !isQuyen">Notify</button>
      <input placeholder="type something!" (keyup) = "input($something);" >
      <label>ST typed is: {{something}}</label> -->
      <!-- <button *ngFor = "let delete of arrayHocSinh" (click) = "deleteHS(delete)">{{delete.name}}</button>
      <form #heroForm (ngSubmit)="onSubmit(heroForm)"> ... </form>
      
      <button  [disabled]="!isQuyen">Save</button>
      <button [style.color]="!isSpecial ? 'yellow': 'green'">Red</button>
      <button [style.background-color]="canSave ? 'red': 'blue'" >Save</button>
      <input [disabled]="isQuyen ? true : false"> -->
      <!-- <app-form></app-form> -->
      <!-- <app-sinh-vien></app-sinh-vien> -->
      <router-outlet></router-outlet>
      <!-- <app-chi-tiet-sv></app-chi-tiet-sv> -->
      <app-children-formctsv></app-children-formctsv>
    </div>
  </div>
</div>