<table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Mã Sinh Viên</th>
        <th scope="col">Tên Sinh Viên</th>
        <th scope="col">Địa Chỉ Nhà</th>
        <th scope="col">Giới tính</th>
        <th scope="col">Ngày Sinh</th>
        <th scope="col">CMND</th>
        <th scope="col">Khoa Đào Tạo</th>
        <th scope="col">Chuyên Ngành</th>
        <th scope="col">Thao Tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let item of arraySinhVien; let i = index">
        <td>{{i + 1}}</td>
        <td>{{item.id}}</td>
        <td >{{item.name}}</td>
        <td>{{item.addrect}}</td>
        <td>{{item.sex}}</td>
        <td>{{item.dob}}</td>
        <td>{{item.cmnd}}</td>
        <td>{{item?.faculty?.name}}</td>
        <td>{{item?.mainfaculty?.name}}</td>
        <td scope="row"><a [routerLink] ="['/chitiet', item.id]" ><i class="fa fa-eye pr-2 poiter"></i> </a><a [routerLink] ="['/edit', item.id]"><i class="fa fa-pencil pr-2 poiter"></i></a><a (click) = "deleteObject(i)"><i class="fa fa-trash-o"></i></a></td>
      </tr>
      
    </tbody>
  </table>